<!DOCTYPE html>
<html>
  <head>
  	<link rel="shortcut icon" type="image/png" href="/CreativeProject4/favicon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <title>Luchadorable</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/CreativeProject4/assets/css/main.css" />

    <!-- Override generated Styles -->
	<link rel="stylesheet" href="/CreativeProject4/styles.css"/>
</head>
<body>
	<!--<div id="app">-->
		<!-- HEADER -->
		<header id="header">
			<div id="appHeader">
			<h1>Luchadorable</h1>
			<nav>
				<ul>
					<li v-for="navItem in navItems"><a v-bind:href="navItem.href">{{navItem.title}}</a></li>
				</ul>
			</nav>
			</div>
		</header>
		<!-- END HEDAER -->

		<!-- INTRO -->
		<section id="intro" class="main style1 dark fullscreen">
			<div id="appIntro" class="content">
			<div class="content">
				<header>
					<h2>Welcome.</h2>
				</header>
				<p>This website is dedicated to the wonderful <strong>LUCHADORES</strong> who make wrestling worthwhile. I honesty don't know a lot about their history, but I do know those flying-tight-wearing men make wrestling worthwhile.</p>
				<footer>
					<a href="#one" class="button style2 down">More</a>
				</footer>
			</div>
		</section>
		<!-- END INTRO -->

		<!-- ONE Chose your luchador mask -->
		<!-- Image Creds: https://www.vecteezy.com/vector-art/172921-mexican-wrestler-portrait-vector-set -->
		<section id="one" class="main style2 center dark fullscreen">
			<div class="content">
				<header>
					<h2>The Mask.</h2>
				</header>
				<p class="trans_background">One of the most important elements of being a luchador is choosing the right equipment. </p>

				<div class="maskdiv">
					<img v-bind:src="images[curIndex].url" style="max-height:50vh">
				</div>

				<div>
					<div class="relativeposition w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
						<div class="w3-left w3-hover-text-khaki" v-on:click="prev">&#10094;</div>
						<div class="w3-right w3-hover-text-khaki" v-on:click="next">&#10095;</div>
						<span v-for="image in images" v-bind:class="['w3-badge', 'w3-border', 'w3-transparent', 'w3-hover-white', {'w3-white':image.active}]" v-on:click="goToMask($event, image)"></span>
					</div>
				</div>
				
				<h2>{{images[curIndex].title}}</h2>
				<p class="trans_background">{{images[curIndex].description}}</p>
				<br><br>
			</div>
			<a href="#two" class="button style2 down anchored">Next</a>
		</section>
		<!-- End ONE -->

		<!-- TWO Luchador jokes -->
		<section id="two" class="main style2 center dark fullscreen">
			<div class="content">
				<header>
					<h2>Practice</h2>
				</header>

				<p class="trans_background">Now that you've chosen an identity, you can practice your luchador skills. You must enable flash to continue with this module.</p>
				<!-- Hey Webmaster! Place this html code where you'd like the game to appear. -->
				<iframe src="https://www.silvergames.com/en/burrito-bison/iframe" width="720" height="480" style="margin:0;padding:0;border:0"></iframe>
				<p style="text-align:center">More <a href="https://www.silvergames.com/en/t/cannon">Cannon Games</a> on Silvergames.com!</p>
				<!-- End of game embed code -->
			</div>
		</section>
		<!-- End TWO -->

		<!-- FOOTER -->
		<footer id="footer">
			<ul class="actions">
				<li><a 
					target="_blank"
					href="https://github.com/dvwilliamson/CreativeProject4"
					class="icon fa-github"><span class="label">Github</span>
				</a></li>
			</ul>

			<ul class="menu">
				<li>Luchadorable</li>
				<li>Creative Poject 3</li>
				<li>Dallas Williamson</li>
			</ul>
		</footer>
		<!-- End FOOTER -->

    <!-- These are needed for the smooth scrolling -->
    <script src="/CreativeProject4/assets/js/jquery.min.js"></script>
	<script src="/CreativeProject4/assets/js/jquery.poptrox.min.js"></script>
	<script src="/CreativeProject4/assets/js/jquery.scrolly.min.js"></script>
	<script src="/CreativeProject4/assets/js/jquery.scrollex.min.js"></script>
	<script src="/CreativeProject4/assets/js/skel.min.js"></script>
	<script src="/CreativeProject4/assets/js/util.js"></script>
	<script src="/CreativeProject4/assets/js/main.js"></script>
	<!-- End these -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="/CreativeProject4/script.js"></script>
  </body>
</html>

